
.header-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: black;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}


.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: none;
  justify-content: flex-end;
  z-index: 999;
}

.cart-panel {
  width: 380px;
  height: calc(100% - 20px);
  margin: 10px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-cart {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.cart-item img {
  width: 80px;
  border-radius: 12px;
}

.cart-info h4 {
  margin: 0;
  font-size: 16px;
}

.cart-info span {
  font-weight: bold;
}

.cart-footer {
  margin-top: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
